
.wp-block-button {

	.wp-block-button__link {
		background-color: $color-primary;
		border-radius: 0;
		text-decoration: none;
		transition: background-color .2s ease;


		&:hover {
			background-color: $color-black;
		}
	}

}
