/**
 * @section Base Styles
 */

body {
	font-size: 100%;
	margin: 0 auto;

	@media (min-width: $bp-large) {
		font-size: 125%;
	}
}

input,
textarea,
select,
button {
	font: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.2;
	margin: 0 0 1em;
	padding: 1em 0 0;
	word-wrap: break-word;
}

h1,
.h1,
.entry-title {
	font-size: 2.5em;
	padding-top: .5em;

	@media (min-width: $bp-medium) {
		font-size: 2.75em;
	}
}

h2,
.h2 {
	font-size: 2.25em;
}

h3,
.h3 {
	font-size: 1.1875em;
}

h4, h5, h6,
.h4, .h5, .h6 {
	font-size: 1em;
}

h4,
.h4 {
	text-transform: uppercase;
}
