#page-top {
	height: 13px;
	width: 100%;
	overflow: hidden;
	position: fixed;
}
#page-top svg {
	width: 100%;
}

#masthead{
	padding-top: 3rem;
	padding-bottom: 2rem;
	margin-bottom: 3rem;
	background-color: $color-gray-lighter;
}

@include respond-below(lg) {

	.site-branding.grid-auto {
		text-align: center;
	}

}

