article.post {
	margin-bottom: 5em;
	padding-bottom: 5em;
	border-bottom: 1px dotted rgba(0,0,0,.5);
}

.entry-header {
	h1,
	h2,
	.entry-title {
		padding: 0;
	}
}

.entry-meta {
	font-style: italic;
	margin-bottom: 1em;
}

.site-main {
	max-width: 35em;
	margin: 0 auto;
}

.entry-footer {
	span {
		display: block;
	}
}
